@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent horizontal scroll bar from showing */
html,
body {
  @apply overflow-x-hidden;
}


*,*::after,*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}